doctype html
html
  head
    meta(charset="UTF-8")
    title Twitch Info
    link(rel="stylesheet", href="./build/css/semantic.min.css")
    style(type="text/css").
      body {
        -webkit-app-region: drag;
        background-color: rgba(0,0,0,0);
      }
      a {
        cursor: pointer;
        -webkit-app-region: no-drag;
      }
      input {
        -webkit-user-select: none;
        -webkit-app-region: no-drag;
      }
  body
    #container
    script.
      //- require('electron-connect').client.create()
      require('coffee-script/register')
      require("./src/client/main.coffee")

